:root {
  // --background: #ffffff;
  --foreground: #171717;

  --background: #fafafa;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}


.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  // .main {
  //   padding: 48px 24px;
  // }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(0);
  }
}

// Wrapper
.wrapper {
  .main-content {
    padding: 72px 0 0 230px;
    min-height: 100vh;
    transition: all 300ms ease;
  }
  .main-inner{
    padding: 16px;
  }
}


.header{
  background-color: var(--background);
  position: fixed;
  z-index: 91;
  left: 0;
  top: 0;
  right: 0;
  padding: 12px 16px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.main-navigation{
  background-color: var(--background);
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 230px;
  color: var(--white);
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  z-index: 9;

  .menu-link {
    height: 40px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 0;

    &.active {
      background-color: var(--white);
      color: #d7007f;
    }

    &:hover:not(.active),
    &:focus:not(.active) {
      background-color: rgba($color: #000000, $alpha: 0.08);
    }

    .link-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}